@model ToDoApp.Models.ToDoItem

@{
    ViewBag.Title = "Index";
}

<div id="tableDiv"></div>

<div id="toDoItemsCreateFrom">
    @using (Ajax.BeginForm("AJAXCreate", "ToDoItems", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        UpdateTargetId = "tableDiv"
    }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            <div>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>

@section Scripts
    {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/My_Scripts/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}